resources = 20
names = {
	adamant aether arenak arsonium atium bolonium byzanium carbonadium cavorite
	chlorophyte corbomite coronium corrodium dilithium divinium duranium durium etherium eezo
	galine harbenite hedonium lerasium nebulium neutronium phlogiston polydenum 
	regalite sanite sarantium saronite silverstone trilithium tritanium uridium verterium 
}

spheres = {
   count = 100
   radius = { 100 100 10 }
   strength = { 10 100 }
   attenuation = { 1.5 3.5 }
}
